@font-face {
    font-family: 'callibri';
    src: url('../fonts/calibri.ttf') 
  }
  body{
      font-family: callibri;
      background: #f0f7fe;
  }
*{
 margin: 0;
 padding: 0;
}
.land-header{
width: 100%;
height: 100vh;
background-color: #075cab;
}
.land-header .navbar .container{
    display: flex;
    justify-content: space-between;
}
.navbar .container .navbar-nav-right{
    margin: 40px 100px;
    display: flex;
}
.navbar .container .navbar-nav-right li{
    list-style-type: none;
    margin: 20px;
}
.navbar .container .navbar-nav-right li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}
.navbar .container .navbar-nav-right li a:hover{
    color: lightblue;
}
.navbar .container .navbar-nav-left {
margin: 55px 100px;
}
.navbar .container .navbar-nav-left i a{
    text-decoration: none;
    color: rgb(41, 128, 243);
    font-size: 17px;
    padding: 17px 25px;
    border-radius: 20px;
    font-family: var(--bs-font-sans-serif);
    background-color: #fff;
    cursor: pointer;

} 
.navbar .container .navbar-nav-left i a:hover{
    background: lightblue;
}
.container2 .row{
    width: 100%;
    display: flex;
}
.container2 .right{
    width: 400px;
    text-align: center;
    height: 500px;
    background: #fff;
    margin-top: 50px;
    border-radius: 30px;
    margin-right: 100px;
    padding: 50px;
    box-shadow: 0 0 5px #a1cdf7;
}
.container2 .right .title{
    font-size: 35px;
    display: block;
    color: #1f83e0;
    margin-top: 30px;
    margin-bottom: 20px;
}
.container2 .right .subtitle{
    font-size: 23px;
    color: #378ddf;
}
.container2 .right .mb-5{
    font-size: 20px;
    color: #1f83e0;
    font-weight: 600;
    margin-top: 20px;
}
.container2 .right .text-secondary{
    font-weight: 400;
    font-size: 15px;
    color: gray;
    margin-top: 20px;

}
.container2 .left{
    width: 674px;
    display: block;
    height: 600px;
    background: #075cab;
    border-radius: 50px;
}
.container2 .left .img1{
    width: 150px;
    padding: 60px;
    background: #1385ed;
    float: left;
    margin-left: 50px;
    border-radius: 50%;
    display: block;
}
.container2 .left .tabs{
    display: block;
    margin-top: 300px;
    float: left;
    margin-left: -300px;
}
.container2 .left .tabs img{
    margin: 30px;
}
.container2 .left .tabs span{
    margin: 20px;
    font-size: 20px;
    color: #fff;
}
.container2 .left .icon-and-text{
    margin-left: 00px;
}
.container2 .left .icon-and-text img{
    margin-bottom: -18px;
    margin-left: -5px;
}
.container2 .left .icon-and-text h2 {
  display: inline-block;
 color: #fff;
}
.container2 .video-box {
    width: 400px;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 50px #a1cdf7;
    text-align: center;
}

.container2 .video-box video{
    width: 310px;
    padding: 40px;
    padding-left: 40px;
    border-radius: 30px;
}

.land-sc-need{
    margin-top: 20%;
margin-right: 100px;
}
.land-sc-need .mt-4{
    margin: 40px;
    font-size: 35px;
    color: #334a62;
    margin-right: -10px;
}
.land-sc-need .ql-align-justify{
    font-size: 22px;
    width: 95%;
    color: #334a62;
    line-height: 50px;
}
.land-sc-need p{
    font-size: 22px;
    width: 95%;
    color: #334a62;
    line-height: 50px;
}

.land-sc-need .ql-align-right{
     font-size: 22px;
    margin: 20px;
} 
.land-sc-need .ql-align-right a{
    text-decoration: none;
    color: #1385ed;
}
.land-sc-need h2 , h3{
    margin-top: 40px;
}

/* container */




.container3{
    margin-top: 15%;
}
.container3 .land-sc-list{
   width: 60%;
   padding: 40px;
    margin: auto;
   display: flex;
   border-radius: 30px;
   background: #fff;
}
.container3 .land-sc-list .col-xl-3{
    width: 260px;
    height: 220px;
  background: #fff;
  box-shadow: 0 0  1px #334a62;
    margin-right: -120px;
    border-radius: 20px;
    margin-top: -120px;
    position: absolute;
}
.container3 .land-sc-list .col-xl-3 .box {
    margin-right: 50px;
    font-size: 24px;
    line-height: 40px;
}
.container3 .land-sc-list .col-xl-3 .box i{
    font-size: 80px;
    margin-right: 90px;
    color: #5aae1b;
}
.container3 .land-sc-list .col-xl-3 .box h4 span{
color: #5aae1b;
}
.container3 .land-sc-list .col-xl-10{
    font-size: 20px;
    color: #334a62;
    margin-right: 200px;
}
.container3 .land-sc-list .col-xl-10 li{
    padding: 10px;
    list-style: none;
}
.container3 .land-sc-list .col-xl-10 li i{
    padding: 10px;
    font-size: 15px;
}
/* container4 */
.container4{
    margin-top: 30px;
}
.container4 .land-sc-list{
    width: 60%;
    padding: 40px;
     margin: auto;
    display: flex;
    border-radius: 30px;
    background: #fff;
 }
 .container4 .col-xl-10{
    font-size: 20px;
    color: #334a62;
    margin-right: 200px;
 }
 .container4 .land-sc-list .col-xl-10 li{
    padding: 10px;
    list-style: none;
}

.container4 .col-lg-4{
    width: 260px;
    height: 240px;
    box-shadow: 0 0 1px #334a62;
    margin-left: -200px;
    margin-top: -100px;
    border-radius: 20px;
    background-color: #fff;
}
.container4 .col-lg-4 .box{
    margin-top: 20px;
    margin-right: 50px;
    font-size: 25px;
}
.container4 .col-lg-4 .box i{
    font-size: 100px;
    margin-right: 80px;
    margin-top: -20px;
    color: #f0b5b5;
}
.container4 .col-lg-4 .box h4 span{
    color: #d94745;
}


/* ------------ssection2 start--------------- */

.section2{
    background: #f2f8fe;
}
.section2 .row{
    background-color: #e9eef4;
    position: relative;
    width: 73%;
    padding: 30px;
    margin-top: 100px;
    float: left;
    border-radius: 40px;
    color: #1b77e7;
}

.section2 .row h3{
    font-size: 30px;
    margin-left: 20px;
}
.section2 .row h3 span{
  margin-right: 100px;
    font-size: 22px;
}
.section2 .row-boxs{
    margin-top: 100px;
    display: flex;
    width: 100%;
   margin-right: -180px;
}
.section2 .row-boxs .box-right{
    margin-left: 30px;
    overflow-y: auto;
    height: 200px;
    width: 900px;
    padding: 30px 22px 40px;
    border-radius: 20px;
    background-color: #fff;
}
.section2 .row-boxs .box-right .content {
    margin-top: 40px;
}
.section2 .row-boxs .box-right .content p{
    font-size: 20px;
    line-height: 30px;
}
.section2 .row-boxs .box-left{
    overflow-y: auto;
    height: 200px;
    width: 900px;
    padding: 30px 22px 40px;
    border-radius: 20px;
    background-color: #fff;
}
