@font-face {
    font-family: 'callibri';
    src: url('../fonts/calibri.ttf') 
  }
  body{
      font-family: callibri;
      overflow-x: hidden;
  }

*{
    margin: 0;
    padding: 0;

}


.all{
    width: 100%;
    background-color: #f4f7f7;
}

    nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
   
}
nav .img
{
    width: 120px;
 

}
nav .search{
    display: flex;
    position: absolute;
    top: 30px;
    left: 70px;
    padding: 5px 10px;
    
  
}
.search .login{
    margin: 7px 50px ;
    
}

.search .login .worod{
   padding: 13px 30px 12px 40px;
   border-radius: 10px;
    background: #f4dd9b; 
    position: relative;
    text-decoration: none;
    color: black;
}
.search .login .worod:hover{
    background-color: #fcd48c;
}

.search .login .aozweit{
    text-decoration: none;
    margin-right: -20px;
    background: #f7c737;
    border-radius: 10px;
   padding: 10px 20px ;
   position: absolute;
   top: -0.1px;
    color: black;
}
.search .login .aozweit:hover{
    background-color: #ffd34f;
    cursor: pointer;
}
.search .srch{
    background: #fff;
    align-items: center;
    padding: 13px;
    border-radius: 11px;
    color: gray;
    font-size: 20px;
}
.search .srch:hover{
    color: lightgray;
}
nav .a{
    text-align: center;
   margin-left: 380px;
}
nav ul{
    float: right;
    margin-right: 35px;
    margin-top: 35px;
    display: block;
    margin-left: 210px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}

nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(55, 58, 70)
}
nav ul li a:hover{
    color: #007bec;
}
 .a ul li .dora{
    border: 1px solid #1d2d3d;
    padding: 13px;
    border-radius: 16px;
    transition: .2s;
}
.a ul li .dora:hover{
    background: #1d2d3d;
    color: #fff;
}
nav .a ul li .dora .fa{
 padding-left: 4px;
}
nav .a ul li .d .fa{
    padding-right: 4px;
}


/* nav finished */

.col-12{
    display: flex;
    margin-top: 90px;
    justify-content: center;
}
.col-12 .row{
    display: flex;
}

.cmp-article .img img{
    background-image: linear-gradient(0deg, rgba(29,45,61,.8) 25% , rgba(255, 255 , 255,0) 70%);
    width: 350px;
    border-radius: 40px;
    margin-left: 80px;
    position: relative;

}

.col-12 .row .col-lg-8{
   margin-left: 100px 
    }
    
.row .col-lg-8 .blog-header-title{
    font-size: 45px;
    color: #1d2d3d;
    margin-top: 50px;
}
.row .col-lg-8 .breadcrumb{
    display: flex;
}
.row .col-lg-8 .breadcrumb li{
    list-style-type: none;
    padding: 10px;
    color: #9da1aa;
    margin-top: 20px;
}
.row .col-lg-8 .breadcrumb li a{
    text-decoration: none;
    color: #9da1aa;
}
.row .col-lg-8 .breadcrumb li a:hover{
    color: #007bec;
}

.shadow{
    position: absolute;
    margin-top: -255px;
    border-radius: 40px;
    width: 350px;
    height: 250px;
    background-image: linear-gradient(0deg, rgba(29,45,61,.8) 25% , rgba(255, 255 , 255,0) 70%); 

}
.article-info{
  margin-top: -60px;
  position: absolute;
  margin-right: 10px;
}

.article-info img{
width: 20px;
border-radius: 50%;
}
.article-info small{
    padding: 10px;
    font-size: 17px;
    color: #fff;
    
}
.article-info small i{
    font-size: 20px;
}

/* finished row header */


.flex-row-reverse{
    margin-top: 50px;
}

.flex-row-reverse .col-lg-8{
    display: flex;
    margin-right: 100px;
}
 .col-lg-8 .col-lg-4 .sticky-lg-top ul li{
     padding: 10px 20px;
     font-size: 20px;
     color: #657688;
     background: #f0f1f4;
     margin-top: 20px;
     list-style: none;
     width: 230px;
     border-radius: 10px;
     cursor: pointer;
}
.col-lg-8 .col-lg-4 .sticky-lg-top ul li:hover{
    background-color: #e3e4e7;
}
.col-lg-8 .col-lg-4 .sticky-lg-top ul .title{
    color: #007bec;
    padding-right: 20px;
    font-size: 20px;
}

/* finished flex-row */
.col-lg-8 .blog-sc{
    width: 670px;
    justify-content: center;
    margin-right: 100px;
    margin-bottom: 200px;
}
.col-lg-8 .blog-sc p{
    font-size: 22px;
  line-height: 50px;
  color: #3d4a62;
}

.col-lg-8 .blog-sc p a{
    text-decoration: none;
    color: #007bec;
}
.col-lg-8 .blog-sc p strong{
    font-weight: 560;
}
.col-lg-8 .blog-sc .img{
    display: flex;
    margin-bottom: -20px;
    position: absolute;
    margin-right: 10px;
}
.col-lg-8 .blog-sc .img img{
    width: 30px;
    margin-top: 30px;
    margin-left: 10px;
}
.col-lg-8 .blog-sc .img h3{
    margin-top: 40px;
    color: #1d2d3d;
}
.col-lg-8 .blog-sc .video{
    margin-left: 500px;
    margin-top: 20px;
}
.col-lg-8 .blog-sc  .video video{
    width: 670px;
   outline: none;

}
.col-lg-8 .blog-sc h2{
    margin: 50px 0 10px;
    color: #1d2d3d;
}
.col-lg-8 .blog-sc ul{
    margin: 15px;
}
.col-lg-8 .blog-sc ul li{
    font-size: 22px;
    line-height: 50px;
    color: #1d2d3d;
}

.col-lg-8 .blog-sc h3{
    color: #1d2d3d;
}
.col-lg-8 .blog-sc .alert{
    margin-top: 20px;
    padding: 35px 20px;
    background: #e1eaee;
    border-radius: 10px;
    margin-bottom: 25px;
}
.col-lg-8 .blog-sc .alert img{
    margin-bottom: -10px;
    margin-left: 20px;
    width: 40px;
}
.col-lg-8 .blog-sc .alert span{
    font-size: 20px;
    font-weight: bold;
    color: #007bec;
}
.col-lg-8 .blog-sc .alert a{
    text-decoration: none;
    font-size: 20px;
   color: #1d2d3d;
}
.col-lg-8 .blog-sc .alert a:hover{
    color: #007bec;
}
.col-lg-8 .blog-sc .question-answers{
    margin-top: 100px;
}

.col-lg-8 .blog-sc .question-answers .acc-title{
    margin: 20px;
    font-size: 23px;
    color: #007bec;
}
.col-lg-8 .blog-sc .question-answers .acc-items h4 {
    margin: 50px 0 15px 0;
    font-size: 20px;
    color: #007bec;
}

.col-lg-8 .blog-sc .question-answers .acc-items  p span{
    font-size: 20px;
    color: #1d2d3d;
}
.col-lg-8 .blog-sc .question-answers .acc-items p{
    color: #77889a;
    font-size: 20px;
}


/* start footer */

.container-fluid{
        width: 100%;
    }
    .container-fluid .links{
        width: 100%;
        margin: 0 0 60px 0;
        margin-right: 80px;
        font-size: 20px;
    }
    .container-fluid .links a img{
        width: 50px;
        margin-bottom:  -20px;
    }
    .container-fluid .links a {
        margin-left: 25px;
        text-decoration: none;
        color: rgb(56, 61, 70);
    }
    .container-fluid .links a:hover{
        color: #007bec;
    }
    .container-fluid .bio{
        font-size: 20px;
        margin-right: 80px;
        line-height: 40px;
        padding: 10px;
    }
    .container-fluid .bio p{
        color: gray;
    }
    .container-fluid .bio p a{
        text-decoration: none;
        color: #007bec;
    }
    footer .right{
        margin-right: 80px;
        padding: 20px 0;
        font-size: 20px;
        line-height: 40px;
    }
    footer .right .mb-0-pb-0{
        color: rgb(56, 61, 70);
    }
    
    footer .right span{
    font-weight: bold;
    padding: 20px 0;
    color: rgb(56, 61, 70);
    }
    
    footer .right span a{
        color: rgb(56, 61, 70);
        text-decoration: none;
    }
    footer .right span a:hover{
        color: #007bec;
    }
    
    footer .right .icon a{
        margin: 20px;
        text-decoration: none;
        color: rgb(56, 61, 70);
        font-size: 30px;
    }
    footer .right .icon a:hover{
    color: #007bec;
    }
    
    footer a:hover{
    color: #007bec;
    }
    
    
    footer .left{
        float: left;
        display: flex;
        margin-left: 200px;
    
    
    }
    footer .left .smooth-corners{
        padding: 20px;
        background: #f6fafe;
        margin: 15px;
        border-radius: 20px;
    }
    footer .left .smooth-corners img{
        width: 50px;
        color: rgb(56, 61, 70);
    }
    
    